<%- contentFor('body') %>

<section class="form">
  <form action="/signUp" method="post">
    <label>MeetApp</label>
    <input type="text" name="name" placeholder="Nome de Usuário" />
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Senha" />

    <button type="submit">Criar Conta</button>
    <a href="/">Já tenho uma conta</a>
  </form>
</section>
