<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/layout.css" />
    <title>MeetApp</title>
  </head>
  <body>
    <main><%- body %></main>
  </body>
</html>
