<%- contentFor('body') %>

<section class="form">
  <form action="">
    <label>MeetApp</label>
    <input type="text" placeholder="Email" />
    <input type="password" placeholder="Senha" />

    <button type="submit">Entrar</button>
    <a href="/signUp">Não tenho uma conta</a>
  </form>
</section>
