#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
  padding: 8px;
}

#user-video {
  position: absolute;
  left: 0;
  bottom: 80px;
  height: 200px;
  width: 300px;
  object-fit: cover;
  padding: 8px;
}

.main {
  height: 100vh;
  display: flex;

  background-color: rgb(3, 12, 29);
}

.main__left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main__right {
  display: none;
  flex: 0.2;
  padding: 10px;
}

.main__videos {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.main__right {
  background-color: rgb(6, 21, 48);
  border-left: 1px solid #0d0d20;
}

.main__controls {
  color: #d2d2d2;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.main__controls__block {
  display: flex;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 20px;
}

.main__controls__button:hover {
  background-color: #ccc;
}

.main__controls__button i {
  font-size: 24px;
  color: #555;
}

.main__right {
  display: none;
  flex-direction: column;
}

.main__header {
  padding-top: 5px;
  color: #f5f5f5;
  text-align: center;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  color: white;
  list-style: none;
}

.main__message_container {
  padding: 22px 12px;
  display: flex;
}

.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

.leave_meeting {
  color: #eb534b !important;
  text-decoration: none !important;
}

.unmute,
.stop {
  color: #cc3b33;
}
