<div
  class="error-container"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
  "
>
  <h1>Erro no Server :(</h1>
</div>
