<%- contentFor('body') %>
<section class="add-room">
  <form action="/welcome/create-room" method="post">
    <input type="text" name="name" placeholder="Nome da Sala" />
    <button type="submit">Criar</button>
  </form>
</section>
