<%- contentFor('body') %>
<section class="add-room">
  <form action="/home/load-room" method="post">
    <input type="text" name="roomId" placeholder="Id da sala" />
    <button type="submit">Entrar</button>
  </form>
</section>
