<%- contentFor('body') %>

<section class="form">
  <form action="/" method="post">
    <label>MeetApp</label>
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Senha" />

    <button type="submit">Entrar</button>
    <a href="/signUp">Não tenho uma conta</a>
  </form>
</section>
